/*COLORES
azul: #004AAD

*/

html{
    background-color: black;
}



/* - - NAV - - */
nav{ display: flex; flex-direction: row; align-items: center;
padding: 1rem;}
.img-logo img{ width: 3rem; height: 3rem; margin: 0rem;}

/* - - HERO IMG - - */

.hero{ background-image: url(/assets/images/motor.jpg); height: 18rem; background-size: cover; }

.hero-img{ height: 18rem; background-color: #002049d2; 
    display: flex; flex-direction: column; justify-content: center; align-items: center; }

.hero-img-logo{ height: 8rem; }




/* - - FOOTER - - */
.footer{ background-color: #004AAD; height: 10rem;  }

