/*COLORES
azul-talleres: #004AAD


  padding:1rem 10rem;

*/
/*VARIABLES*/
:root {
  --azul-talleres: #004AAD;
  --azul-secundario:  #001839;
  --color-texto: #333333;
}

/*FUENTES*/
p,h2,h3,h4,h5,a,li{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  
}


html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: white;


}

html a {
  list-style: none;
  text-decoration: none;
}
nav {
  background-color: #000;
}
div {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p,a {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.borde {
  border: blue 1px solid;
}

/* - - NAV - - */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
}
.img-logo img {
  width:3remm;
  height:3rem;
  margin: .5rem;
}

nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
nav div ul li {
  color: white;
  margin: 0rem 0.5rem;
  text-decoration: none;
  list-style: none;
}



/* - - HERO IMG - - */
.hero {
  height: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img-logo {
  width: 80%;
}

/* - - LA COMODIDAD - - */
.comod {
  background-image: url(/assets/images/motor.jpg);
  background-size: cover;
}
.comod-hero {
  background-color: #000000d8;
  height: 22rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0rem;
}

.comod-hero div {
  margin: 0rem 3rem;
}
.comod-hero :nth-child(1) p {
  text-align: start;
  font-size: 1.3rem;
  color: #fff;
}
.comod-hero :nth-child(2) p {
  text-align: end;
  font-size: 1.3rem;
  color: #fff;
}
.comod-hero :nth-child(3) p {
  text-align: center;
  border: 1px solid white;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #fff;
}

/* - - COSAS QUE HACE - - */
.things {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  9fr;
  grid-template-rows: 12rem;
  background-color: #fff;
}

.things_imp {
/*  background-color: #004aad;*/
  background-color: var(--azul-talleres);

}
.things :nth-child(2n) {
  background-color: #fff;
}

.things_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.things_cont ul li {
  color:var(--azul-talleres);
}

/* - - TARJETAS - - */

.contacto {
  height: 12rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--azul-secundario);
}
.contacto * {
  margin: 1rem;
}

.contacto h3 {
  color: #16d376;
  font-size: 1.5rem;
}

/* - - SOBRE NOSOTROS - - */
.sobre {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 0 2rem 0;
}

.sobre-tit{
  margin-top: 1rem;
  padding:3rem 1rem;
}

.sobre_card {
  margin: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  background-color:var(--azul-talleres);

 
}

.sobre_par {
  background-color: var(--azul-talleres) ;


}

.sobre_card h2 {
  padding: 1.5rem;
  color: #fff;
}
.sobre_card p {
  height: 13rem;
  text-align: start;
  color: #fff;

}

/* - - FOOTER - - */
.footer {
  background-color: var(--azul-secundario);
  height: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer div img {
  height: 5rem;
}

.footer div a {
  color: #fff;
  text-align: start;
  margin: 1rem 0.5rem;
}

/* ======= 400PX ======= */
@media only screen and (min-width: 400px) {

  .hero {
    height: 18rem;
  }

  .things_cont ul li {
    font-size: 1.3rem;
  }


  .sobre_card {
    height: 18rem;
  }
}


/* ======= 550PX ======= */
@media only screen and (min-width: 550px) {
  /* - - HERO IMG - - */
  .hero {
    height: 20rem;
  }
  /* - - COMODIDAD - - */
  .comod-hero div p {
    margin: 0rem 4rem;
  }
  /* - - COSAS QUE HACE - - */
  .things {
    grid-template-rows: 15rem;
  }
  .things_cont ul li {
    font-size: 1.5rem;
  }
  /* - - CONTACTO - - */
  .contacto {
    height: 15rem;
  }

  /* - - SOBRE NOSOTROS - - */

  .sobre_card {
    padding: 0rem;
    height: 16rem;
  }

  .sobre_card h2 {
    padding: 1.2rem;
    color: #fff;
  }
  .sobre_card p {
    height: auto;
    padding: 1rem;
  }
} /* 550 */

/* ======= 700PX ======= */
@media only screen and (min-width: 700px) {
  /* - - HERO IMG - - */
  .hero {
    height: 20rem;
  }
  /* - - COMODIDAD - - */
  .comod-hero div p {
    margin: 0rem 4rem;
  }
  /* - - COSAS QUE HACE - - */
  .things {
    grid-template-rows: 15rem;
    grid-template-columns: 1fr;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  .things_imp {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_par {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_cont {
    height: 20rem;
    margin: 0;
    padding: .5rem;
  }

  .things_cont ul li {
    color: #fff;
    margin: 1rem 0;
    list-style: none;
    font-size: 1.2rem;
  }
  .things :nth-child(2n) {
    background-color: #000;
  }
  /* - - CONTACTO - - */
  .contacto {
    height: 15rem;
  }

  /* - - SOBRE NOSOTROS - - */
  .sobre {
    margin: 0 4rem;
  }

  .sobre-tit h2{
    font-size: 2rem;
  }
  .sobre_card h2 {
    padding: 1rem;
  }
  .sobre_card p {
    height: auto;
    margin: 0rem 1rem;
  }
  /* - - SUMA - - */
  .suma {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
} /* 700 */

/* ======= 900PX ======= */
@media only screen and (min-width: 900px) {

  .nav-ul a{
    font-size: 1.2rem;
  }
  /* - - HERO IMG - - */
  .hero {
    height: 20rem;
  }
  .hero-img-logo {
    width: 60%;
  }
  /* - - COMODIDAD - - */
  .comod-hero{
    height: 30rem;
  }
  .comod-hero div p {
    margin: 0rem 4rem;
  }
  /* - - COSAS QUE HACE - - */
  .things {
    grid-template-rows: 15rem;
    grid-template-columns: 1fr;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  .things_imp {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_par {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_cont {
    height: 20rem;
    margin: 0;
    padding: 0;
  }

  .things_cont ul li {
    color: #fff;
    margin: 1rem 0;
    list-style: none;
    font-size: 1.2rem;
  }
  .things :nth-child(2n) {
    background-color: #000;
  }
  /* - - CONTACTO - - */
  .contacto {
    height: 24rem;
    transition: .5s;
  }
  .contacto:hover{
    background-color: #0d6b3c;
  border-bottom: 1px solid #0d6b3c;

  }
  .contacto div h3{
    font-size: 2rem;
  }

  /* - - SOBRE NOSOTROS - - */
  .sobre {
    margin: 0 1rem;
    display: grid;
    grid-template-rows:14rem 20rem 18rem;
    grid-template-columns: 1fr 1fr;
  }

  .sobre-tit{
    grid-column: 1/3;
  }
  .sobre-tit h2{
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .sobre_card {
    height: auto;
    transition: .5s;
    justify-content: start;
    padding: 1.5rem 0 ;
  }



  .sobre_card:hover{
    transform: scale(1.05);

  }


  .sobre_card p {
    height: auto;
  }

  .last_card {
    grid-column: 1/3;
    background-color: var(--azul-talleres);
    transition: .5s;
  }
  .last_card:hover {
    transform: scale(1.05);

  }

  /* - - SUMA - - */
  .suma {
    display: grid;
    grid-template-columns: 3fr 2fr;
    transition: .5s;
  }
  .suma:hover{
  background-color: #000;
  }

} /* 900 */

/* ======= 1100PX ======= */
@media only screen and (min-width: 1100px) {
  /* - - HERO IMG - - */
  .hero {
    height: 24rem;
  }
  .hero-img-logo {
    width: 48%;
  }
  /* - - COMODIDAD - - */
  .comod-hero{
    height: 32rem;
  }
  .comod-hero div p{
    margin: 0rem 4rem;
    font-size: 2rem;
  }

  

  /* - - COSAS QUE HACE - - */
  .things {
    grid-template-rows: 15rem;
    grid-template-columns: 1fr;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  .things_imp {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_par {
    display: none;
    width: 0rem;
    height: 0;
  }
  .things_cont {
    height: 20rem;
    margin: 0;
    padding: 0;
  }

  .things_cont ul li {
    color: #fff;
    margin: 1rem 0;
    list-style: none;
    font-size: 1.4rem;
  }
  .things :nth-child(2n) {
    background-color: #000;
  }
  /* - - CONTACTO - - */
  .contacto {
    height: 28rem;
  }

  .contacto div h3{
    font-size: 2.5rem;
  }

  /* - - SOBRE NOSOTROS - - */
  .sobre {
    margin: 0 0 2rem 0;
    padding: 0 5rem;
    display: grid;
    grid-template-rows: 16rem 24rem 18rem;
    grid-template-columns: 1fr 1fr;
  }

  .sobre-tit h2{
    font-size: 2.5rem;
  }

  .sobre_card {
    height: auto;
  }

  .sobre_card h2 {
    font-size: 2rem;
  }
  .sobre_card p {
    height: auto;
    font-size: 1.1rem;
  }

  .last_card {
    grid-column: 1/3;
  }
  /* - - SUMA - - */
  .suma {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 0 5rem;
  }
} /* 1200 */



/* ANIMACIONES */

.anima{
  animation: animacion auto linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

}
@keyframes animacion{
  0%{
    opacity: 0%;
    transform: translateY(100px);
  }
  100%{
    opacity: 100%;
    transform: translateY(0px);

  }

}